#title{
    font-size: 3rem;
    text-align: center;
}


.score{
    display: flex;
    justify-content: space-around;
}

.country-name{
    text-align: center;
}

button{
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    background-color: firebrick;
    color: white;
    border: 0;
    border-radius: 1rem;
}